#!/usr/bin/env bash

# BASH ALIASES

# safety measures
alias rm="rm -i"
alias mv="mv -i"

# enable sudo-ing other aliases
alias sudo="sudo "

# add color support to ls on mac
alias ls="ls -G"
 
# enable color support on linux if available
if [ -x /usr/bin/dircolors ]; then
	# ls
	alias ls="ls --color=auto"
	# grep
	alias grep="grep --color=auto"
	alias fgrep="fgrep --color=auto"
	alias egrep="egrep --color=auto"
fi

# ls 
alias l="ls -la" # list all files in long format
alias la="ls -a" # list all files
alias ll="ls -l" # list non-hidden files in long format
alias ld="ls -ld */ 2> /dev/null; ls -ld .*/ 2> /dev/null" # list all directories only in long format

# getting around 
alias ..="cd .."
alias ....="cd ../.."
alias ......="cd ../../.."
alias h="cd ~"
alias home="cd ~"
alias d="cd ~/Desktop"
alias desktop="cd ~/Desktop"
alias back="cd -"
alias dots="cd ~/dotfiles"
alias dotfiles="cd ~/dotfiles"

# git
alias ga="git add"
alias gaa="git add ."
alias gs="git status"
alias gc="git commit -m"
alias gch="git checkout"
alias gb="git branch -a"
alias gl="git log"
alias gf="git fetch"
alias gao="git remote add origin"
alias gstash="git stash save"
alias gstashp="git stash pop"
alias gstashl="git stash list"

# python
alias python="python3"
alias pip="pip3"

# editing
alias v="vim"
alias edit="$EDITOR"

# npm
alias ni="npm install"
alias nig="npm install -g"
alias nu="npm uninstall"
alias nug="npm uninstall -g"
alias nup="npm update"
alias nupg="npm update -g"
alias na="npm audit"
alias naf="npm audit fix"

# printing ssh/gpg keys
alias sshkeys="ls -la ~/.ssh"
alias gpgkeys="gpg --list-secret-keys --keyid-format LONG"

# xclip
alias clip="xclip -sel clip"

# clearing the terminal
alias cl="clear"

# quitting the terminal
alias quit="exit"

# open hosts file
alias hosts="sudo $EDITOR /etc/hosts"

# re-souce .bashrc
alias resource="source ~/.bashrc"
