#!/usr/bin/env bash

# EXPORTS

# Silence OSX bash deprecation warning
export BASH_SILENCE_DEPRECATION_WARNING=1

# Disable Homebrew auto update
export HOMEBREW_NO_AUTO_UPDATE=1

# default editor
export EDITOR='vim'

# English/UTF-8
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# history
export HISTSIZE=20000
export HISTFILESIZE=20000

# python stdin/out/err encoding
export PYTHONIOENCODING='UTF-8'

# tty for gpg
export GPG_TTY=$(tty);

# use homebrew binaries before macos provided
export PATH="/usr/local/bin:$PATH"
export PATH="/opt/homebrew/bin:$PATH"

# add scripts directory to path
export PATH="$PATH:~/scripts"