#!/usr/bin/env bash

# EXPORTS

# Silence OSX bash deprecation warning
export BASH_SILENCE_DEPRECATION_WARNING=1

# default editor
export EDITOR='vim';

# English/UTF-8
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# history
export HISTSIZE=20000
export HISTFILESIZE=20000

# python stdin/out/err encoding
export PYTHONIOENCODING='UTF-8';

# tty for gpg
export GPG_TTY=$(tty);

# add my scripts directory to path
export PATH="$PATH:~/scripts"
